<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid mb-5  d-flex flex-column justify-content-center">
    <app-search></app-search>
    <div class="row d-flex justify-content-center pt-5 pb-5 "id="page">
      <div class=" col-sm-10 col-lg-2 ">
        <div class="border rounde d-fixed">
          <div class="card text-white bg-green" id="headingOne">
            <h5 class=" d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-filter text-white"></i>
              <button class="btn text-white">
               Filters
              </button>
            </h5>
           

          </div>
          <div class="card  bg-white">
           <div class="card-header  filter border-bottom-0 d-flex justify-content-between" id="headingOne" data-toggle="collapse" data-target="#Title" aria-expanded="false" aria-controls="Title">
               <h5 class="mb-0">
                  <i class="fa-solid fa-graduation-cap "></i>
                  <p class="d-inline  ml-2"  >
                    Title
                  </p>
               </h5> 
               <h5 class="mb-0">
                <i class="dropdown-toggle"></i>

               </h5>

            </div>
            <div class="collapse " id="Title">        
              <div class="card-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Professor
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Lecturer
                    </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    consultant
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    specialist
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header filter border-bottom-0 d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#Gender" aria-expanded="false" aria-controls="Gender">
              <h5 class="mb-0">

                <i class="fa-solid fa-venus-mars"></i>
                <p class="d-inline ml-2">Gender</p>
              </h5>
              <h5 class="mb-0">
                <i class="dropdown-toggle"></i>

              </h5>

            </div>
            <div class="collapse " id="Gender">
              <div class="card-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" (change)="onGenderChange(1,$event)"  value="" id="female">
                  <label class="form-check-label" for="female">
                    Female
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" (change)="onGenderChange(0,$event)" value="" id="male">
                  <label class="form-check-label" for="male">
                     Male
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card " *ngIf="subspiciality?.length">
            <div class="card-header filter border-bottom-0 d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#Availability" aria-expanded="false" aria-controls="Availability">
              <h5 class="mb-0">
                <i class="fa-regular fa-calendar-days"></i>   
                <p class="d-inline  ml-2"  >
                  subSpeciality
                </p>
              </h5>
              <h5 class="mb-0">
                <i class="dropdown-toggle"></i>
              </h5>
            </div>
            <div class="collapse multi-collapse" id="Availability">
              <div class="card-body">
                <div class="form-check" *ngFor="let item of subspiciality">
                  <input class="form-check-input" type="checkbox" (change)="onSubSpecialityChange(item.id,$event)" value="" id="AnyDay">
                  <label class="form-check-label" for="AnyDay">
                    {{item.name}}
                  </label>
                </div>
                
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card-header filter border-bottom-0 d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#Availability" aria-expanded="false" aria-controls="Availability">
              <h5 class="mb-0">
                <i class="fa-regular fa-calendar-days"></i>   
                <p class="d-inline  ml-2"  >
                  Availability
                </p>
              </h5>
              <h5 class="mb-0">
                <i class="dropdown-toggle"></i>
              </h5>
            </div>
            <div class="collapse multi-collapse" id="Availability">
              <div class="card-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="AnyDay">
                  <label class="form-check-label" for="AnyDay">
                    Any Day
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"  id="Today">
                  <label class="form-check-label" for="Today">
                    Today
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Tommorrow">
                  <label class="form-check-label" for="Tommorrow">
                    Tommorrow
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card " >
            <div class="card-header border-bottom-0 filter d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#ExaminationFee" aria-expanded="false" aria-controls="ExaminationFee">
              <h5 class="mb-0">
                <i class="fa-solid fa-money-bill-wave filter-icon"></i>
                <p class="d-inline  ml-2"  >
                  Examination Fee
                </p>
              </h5>
              <h5 class="mb-0">
                <i class="dropdown-toggle"></i>

              </h5>
            </div>
            <div class="collapse multi-collapse" id="ExaminationFee">
              <div class="card-body border-0">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optRadio" (change)="onFeeChange(0,$event)" value="" id="Fee0">
                  <label class="form-check-label" for="Fee0">
                    Any
                  </label>
                </div>
              
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optRadio" (change)="onFeeChange(1,$event)" value="" id="Fee1">
                  <label class="form-check-label" for="Fee1">
                    Less Than 50
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optRadio" value="" (change)="onFeeChange(2,$event)" id="Fee2">
                  <label class="form-check-label" for="Fee2">
                    From 50 To 100

                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optRadio" (change)="onFeeChange(3,$event)" value="" id="Fee3">
                  <label class="form-check-label" for="Fee3">
                    From 100 To 200

                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optRadio" (change)="onFeeChange(4,$event)" value="" id="Fee4">
                  <label class="form-check-label" for="Fee4">
                    From 200 To 300

                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="optRadio" (change)="onFeeChange(5,$event)" value="" id="Fee5">
                  <label class="form-check-label" for="Fee5">
                    Greater Than 300

                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
      <div class="col-sm-10 col-lg-8 ">
        <div class="col-12  d-flex justify-content-between mt-2">
          <h1 class="fs-14 font-weight-bold">All Specialities 208 Doctors</h1> 
          <div class="d-flex">
            <div class="form-group d-flex align-baseline d-inline">
              <label class="" for="exampleFormControlSelect1 align-baseline">Sorting:</label>
              <select class="form-control ml-2 p-2" id="exampleFormControlSelect1" (change)="changeSorting($event)"   
              >
                <option class="mt-2" selected [value]="0">Best Match</option>
                <option class="mt-2" [value]="1">Top Rated</option>
                <option class="mt-2" [value]="2">Price Low To High</option>
                <option class="mt-2" [value]="3">Price High To Low</option>
                <option class="mt-2" [value]="4">Less Waiting Time</option>
              </select>
            </div>
          </div>
        </div>

        <app-doctor-index class="p-5" [FilterdDoctor]="filteredDoctorList"></app-doctor-index>

      </div>
    </div>
   
    <div class="row d-flex justify-content-center p-5">
      <div class="col-10">
        <form>
          <legend class="w-auto  text-center d-flex justify-content-center " id="legendstyle">
            <div id="legendstyle">
              <i class="fa-regular fa-circle-question "></i>
              <span style="font-size: 15px; margin-left: 5px;">FAQs</span>

            </div>
          </legend>
          <fieldset class="border p-5 ">
           
            <div class="card ">
              <div class="card-header pointer border border-light rounded d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#Ques" aria-expanded="false" aria-controls="Ques">
                <h5 class="mb-0">
                  <p class="d-inline  ml-2"  >
                    How Can I Search and Book Same Day Appointment with the best Doctor?
                  </p>
                </h5>
                <h5 class="mb-0">
                  <i class="dropdown-toggle"></i>
                </h5>
              </div>
              <div class="collapse multi-collapse" id="Ques">
                <div class="card-body border-0">
                  Go to Vezeeta.com or Download Vezeeta App where you can search for a Doctor in any specialty around your area. To book an appointment on the same day, just choose “Today” from the “Availability” filter and choose the time that suits you.
                  
                </div>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header pointer border border-light rounded d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#Ques2" aria-expanded="false" aria-controls="Ques2">
                <h5 class="mb-0">
                  <p class="d-inline  ml-2"  >
                    How Can I Search and Book Same Day Appointment with the best Doctor?
                  </p>
                </h5>
                <h5 class="mb-0">
                  <i class="dropdown-toggle"></i>
                </h5>
              </div>
              <div class="collapse multi-collapse" id="Ques2">
                <div class="card-body border-0">
                  Go to Vezeeta.com or Download Vezeeta App where you can search for a Doctor in any specialty around your area. To book an appointment on the same day, just choose “Today” from the “Availability” filter and choose the time that suits you.
                  
                </div>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header pointer border border-light rounded d-flex justify-content-between" id="headingTwo" data-toggle="collapse" data-target="#Ques3" aria-expanded="false" aria-controls="Ques3">
                <h5 class="mb-0">
                  <p class="d-inline  ml-2"  >
                    How Can I Search and Book Same Day Appointment with the best Doctor?
                  </p>
                </h5>
                <h5 class="mb-0">
                  <i class="dropdown-toggle"></i>
                </h5>
              </div>
              <div class="collapse multi-collapse" id="Ques3">
                <div class="card-body border-0">
                  Go to Vezeeta.com or Download Vezeeta App where you can search for a Doctor in any specialty around your area. To book an appointment on the same day, just choose “Today” from the “Availability” filter and choose the time that suits you.
                  
                </div>
              </div>
            </div>
            
           </fieldset>
        </form>
       
       
      </div>
        
      
    </div>
</div>
</body>
</html>
