<div class="footer py-5 bg-light text-dark">
    <div class="container">
        <div class="row fs-20">
            <div class="col">
                <h4 class="mb-4">
                    <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
                        <img height="30" src="../../../../assets/image/Logo.png" />
                      </a>
                </h4>
                <p>About Us</p>
                <p>Our Team</p>
                <p>Careers</p>
                <p>Press</p>
            </div>
            <div class="col">
                <h4 class="mb-4">Search By</h4>
                <p>Speciality</p>
                <p>Area</p>
                <p>Insurance</p>
                <p>Hospital</p>
                <p>Center</p>
            </div>
            <div class="col">
                <h4 class="mb-4">Are You A Doctor ?</h4>
                <p>Join Vezeeta Doctors</p>
            </div>
            <div class="col">
                <h4 class="mb-4">Need Help?</h4>
                <p>Medical Q&As</p>
                <p>Contact Us</p>
                <p>Terms Of Use</p>
                <p>Privacy Policy</p>
                <p>Doctors Privacy Policy</p>
            </div>
            <div class="col">
                <h4 class="mb-4">hello</h4>
                <p>Download Vezeeta App from play store</p>
                <p class="mb-4">Download Vezeeta App from app store</p>
                <a href="#" class="text-light h4 mx-3"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="text-light h4 mx-3"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="text-light h4 mx-3"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>