<div class="overflow-hidden position-relative" style="min-height: 100vh">
  <div class="overlay p-3">
    <div class="container-fluid">
      <table class="table table-bordered rounded">
        <thead>
          <tr>
            <th class="p-1">
              <div class="form-group m-1">
                <label for="Specialty">Specialty</label><br />
                <select
                  id="Specialty"
                  [(ngModel)]="selectedSpecialty"
                  class="form-control"
                >
                  <option value="0" disabled selected>--select specialty--</option>
                  <ng-container *ngFor="let Specialty of specialties">
                    <option [value]="Specialty.id">{{ Specialty.name }}</option>
                  </ng-container>
                </select>
              </div>
            </th>
            <th class="p-1">
              <div class="form-group m-1">
                <label for="City">City</label>
                <select
                  id="City"
                  (change)="updateCity()"
                  [(ngModel)]="selectedCity"
                  class="form-control"
                >
                  <option value="0" disabled selected>--select city--</option>
                  <ng-container *ngFor="let City of cities">
                    <option [value]="City">{{ City }}</option>
                  </ng-container>
                </select>
              </div>
            </th>
            <th class="p-1">
              <div class="form-group m-1">
                <label for="Region">Region</label>
                <select
                  id="Region"
                  [(ngModel)]="selectedRegion"
                  class="form-control"
                >
                  <option value="0" disabled selected>--select region--</option>
                  <ng-container *ngFor="let Region of regions">
                    <option [value]="Region">{{ Region }}</option>
                  </ng-container>
                </select>
              </div>
            </th>
            <th class="p-1 w-25">
              <div class="form-group m-1">
                <label for="Name">Name</label><br />
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="selectedName"
                  id="Name"
                />
              </div>
            </th>
            <th class="p-1">
              <a class="btn btn-success w-100 mb-1" href="/doctor/{{selectedSpecialty}}/{{selectedCity}}/{{selectedRegion}}/{{selectedName}}">
                Search
              </a>
            
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let img of imgSrcsArr; let i = index">
      <ng-template carouselSlide [id]="img + i">
        <img [src]="img" alt="MedEase" title="MedEase" />
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
