#doctorTitle{
    color: #289b22;
    display: inline-block;
    font-size: 14px;
    margin: 0px 4px 0px 0px;
    vertical-align: middle;

}

#doctorName{
    color: #289b22;
    margin: 0px 4px;
    display: inline-block;
    font-size: 21px;
    vertical-align: middle;
    font-weight: bold;


}
.textoverflow{
    overflow: hidden;

    text-overflow: ellipsis;

}
.doctorDiv :hover{
    border-radius: 15px;
    background-color: #f7f7f7;
}
.starRateColor{
    color: #ffb624;
    font-size: 30px;
}
.border-style{
    
    border-radius: 15px;
    
}



.fs-12{
    font-size: 15px; 
}

.text-green{
    color: green;
}
.a-style{
    text-decoration: none;
    border-radius: 15px;
    
    color: black;
    width: 100%;
}
/* .a-style :hover{
    background-color: lightgray;
} */
.text-bold{
    font-weight: bold;
}
:host /deep/ .ngx-pagination {
    padding-left: 0px;
  }
  
  :host /deep/.ngx-pagination .current,
  .btn-info {
    background: green !important;
    border: transparent;
    border-radius: 20px;
  }
  
  :host /deep/.ngx-pagination .current:hover {
    background:rgb(90, 165, 90) !important;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
  }