<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/Home">
      <img height="40" src="../../../../assets/image/Logo.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link px-1" routerLinkActive="active" routerLink="/Home"
            ><span class="mx-1"></span> Home <span class="mx-1">|</span></a
          >
        </li>
        <ng-container *ngIf="!isUserLogged">
          <li class="nav-item">
            <a
              class="nav-link px-1"
              routerLinkActive="active"
              routerLink="doctor/register"
              >MedEase For Doctors <span class="mx-1">|</span></a
            >
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link px-1" routerLinkActive="active" routerLink="/home"
            >Contact us
            <span class="mx-1" *ngIf="isUserLogged">|</span>
          </a>
        </li>
        <ng-container *ngIf="isUserLogged">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle px-1"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="mx-1 mt-1 pt-1">
                {{ loggedUserName | navUserName }}</span
              >
            </a>
            <ng-container *ngIf="currentUserRole() === 'Patient'" >
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/account/profile">My Profile</a>
                <a class="dropdown-item" routerLink="/account/insurance">My Insurance</a>
                <a class="dropdown-item" routerLink="/account/medicalHistory">Medical History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/account/questions">Questions</a>
                <a class="dropdown-item" routerLink="/account/Appointment">Appointments</a>
              </div>
          </ng-container>
            <ng-container *ngIf="currentUserRole() === 'Doctor'" >
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/doctor/profile">My Profile</a>
                <a class="dropdown-item" routerLink="/doctor/schedule">Schedule</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/doctor/Appointment">Appointments</a>
                <a class="dropdown-item" routerLink="/doctor/questions">Questions</a>
              </div>
          </ng-container>
            <!-- <span class="mx-1">|</span> -->
          </li>
        </ng-container>
        <li class="nav-item pt-2 pe-2 ps-1">|</li>
        <ng-container *ngIf="!isUserLogged">
          <li class="nav-item mt-1">
            <a
              class="nav-link p-0"
              routerLinkActive="active"
              routerLink="/register"
              ><span class="btn btn-outline-success py-1 mr-2"> Sign up </span>
            </a>
          </li>
          <li class="nav-item mt-1">
            <a
              class="nav-link p-0"
              routerLinkActive="active"
              routerLink="/login"
              ><span class="btn btn-outline-success py-1"> Login </span></a
            >
          </li>
        </ng-container>
        <ng-container *ngIf="isUserLogged">
          <li class="nav-item mt-1">
            <span (click)="onLogOut()" class="nav-link p-0"
              ><span class="btn btn-outline-success py-1 mr-2"> Log out </span>
            </span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
