<div class="row ">
    <aside class="col-3 w-100 h-100 d-flex flex-column justify-content-start pt-3">
        <div class="w-100 h4 p-3 d-flex justify-content-center align-items-center" style="height: 15vh;">
            <a class="text-decoration-none" routerLink="" routerLinkActive="">Pending Appointments</a>
        </div>
        <div class="w-100 h4 p-3 d-flex justify-content-center align-items-center" style="height: 15vh;">
            <a class="text-decoration-none" routerLink="" routerLinkActive="">Confirmed Appointments</a>
        </div>
    </aside>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
