<div class="container-fluid ">
  <div class="row ">
    <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" routerLink="Pending" role="tab"
          aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="fas fa-chart-line fa-fw me-2"></i>Pending</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" routerLink="Confirmed" role="tab"
          aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="fas fa-chart-line fa-fw me-2"></i>Confirmed</a>
      </li>
      
    </ul>
      
    <div >
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

