:host /deep/ .ngx-pagination {
    padding-left: 0px;
  }
  
  :host /deep/.ngx-pagination .current,
  .btn-info {
    background: green !important;
    border: transparent;
    border-radius: 20px;
  }
  
  :host /deep/.ngx-pagination .current:hover {
    background:rgb(90, 165, 90) !important;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
  }