<div class="container-fluid">  
   
    <div class="d-flex flex-column justify-content-between align-items-center">
      
         
        
        <div>
            <div class="form-group d-flex border rounded ">
                <div class="form-outline">
                  <input type="search"  class="form-control border-0"  placeholder="Enter Patient Name" #textInput (input)="SearchData(textInput.value)" />
                </div>
                <div type="button" class="btn btn-success disabled">
                  <i class="fas fa-search"></i>
                </div>
            </div>
        </div>        
       
                
              
       
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Patient Name</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Patient Phone</th>
                <th scope="col">Confirm Appoinment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appoinment of filteredData  | paginate:{itemsPerPage:1,currentPage:p} let i = index ">
                <th scope="row">{{i+1}}</th>
                <td title="click to show patient history">{{appoinment.patientName|titlecase}}</td>
                <td>{{appoinment.date|date:"short"}}</td>
                <td>{{appoinment.patientPhone}}</td>
                <td>
                  <a class="btn btn-success " *ngIf="appoinment.diagnosis==null" (click)="(appoinment.appointmentID)">Add Dignosis</a>
                 
                </td>
             


              </tr>
              
            </tbody>
          </table>
          <div class="d-flex justify-content-center mt-3 ">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        
          </div>
    </div>
   
</div>