<div class="p-5" style="background-color: #ddd">
  <div class="container">
    <p class="h3 fw-bold">New services for better healthcare</p>
    <div class="row mt-3 p-2" style="background-color: #fff; border-radius: 10px 10px;">
      <div class="col-2" >
        <img src="../../../../../assets/image/home/homebanner2.webp" alt="doctor" style="border-radius: 60px 60px" />
      </div>
      <div class="col-8 pt-5">
        <p class="h4">Have a Medical Question?</p>
        <p class="h6">
          Submit your medical question and receive an answer from a
          specialized doctor
        </p>
      </div>
      <div class="col-2 pt-5 pe-4 text-right">
        <a routerLink="/account/ask"class="btn btn-success px-3 mt-2">Ask Now</a>
      </div>
    </div>

    <div
      class="row pt-4 mt-3" 
      style="
        background-image: url(../../../../../assets/image/home/homebanner1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px 10px 10px 10px">
      <div class="col p-3 ms-3">
        <p class="h4">Pharmacy</p>
        <p class="h6">Get your medicine and all your pharmacy needs.</p>
        <button class="btn btn-success">
          Place order
        </button>
      </div>
    </div>
  </div>
</div>
